.aboutPage .container {
  max-width: 960px;
}

.aboutPage h1 {
  text-align: center;
  margin: 60px 0 30px 0;
  font-weight: bold;
}

.aboutPage .team-description {
  font-size: 18px;
}

.aboutPage .members {
  margin-top: 25px;
}

.aboutPage .member-item img {
  padding: 0;
}

.aboutPage .member-item h3 {
  margin: 0 0 5px 0;
}

.aboutPage .member-item .role {
  color: gray;
}

.aboutPage .member-item .description {
  margin-top: 10px;
}

